* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --border-radius: 30px;
}

body {
    height: 100vh;
    background-image: url(https://i.postimg.cc/VsCDK70w/869a8c79e44842e0a95b96aa69948da3009e4d5e-1.jpg);
    background-size: 100%, 100%;
    display: grid;
    place-items: center;
}

form {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(0, 196, 176);
    border-radius: var(--border-radius);

    .blue-box {
        border-radius: var(--border-radius);
        padding: 30px;
        position: relative;
        h1 {
            margin-top: 50px;
            text-align: center;
            color: white;
            font-size: 3rem;
        }
        .box-img {
            position: absolute;
        }
    }

    .white-box {
        border-radius: var(--border-radius);
        background-color: white;
        padding: 20px;

        .country {
            text-align: right;

            select {
                border: none;
            }
        }

        .form-group {
            padding: 80px;
            padding-bottom: 0;

            input {
                padding: 20px;
                width: 100%;
                margin-top: 20px;
                border: none;
                outline: none;
            }
        }

        hr {
            border: 1px solid rgba(0, 0, 0, 0.06);
            margin-bottom: 10px;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 50px;
              padding: 0 30px;
            input[type="checkbox"] {
                width: auto;
                margin: 0;
            }

            p {
                flex: 1;
                text-align: start;
            }
        }
    }
}

.pass {
    position: relative;
}

.fa-eye {
    position: absolute;
    right: 5px;
    bottom: 50%;
    transform: translateY(50%);
    color: rgba(0, 0, 0, 0.201);
    scale: 1.2;
}


.but {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(65, 182, 255);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

img {
    height: 32px;
    width: 32px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: white;
}

.end {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 10px;
}

.blue-box img {
    width: 80px;
    height: 50px;
}

.box-img {
    position: absolute;
    z-index: 3;
    bottom: 100px;
    left: 10px;
}

.box-img img {
    height: 400px;
    width: 500px;
}

