main{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    .box1{
        background-color: aqua;
    }
    .box2{
        background-color: blue;
    }
    .box3{
        background-color: beige;
    }
}